/*@import url(http://fonts.googleapis.com/css?family=Lato:300italic);*/
html,
body {
  width: 100%;
  height: 100%;
}

body {
  /*background: #ee9ca7;*/
  overflow: hidden;
  /*padding:0;*/
  /*margin:0;*/
}
body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
:-webkit-full-screen {

}

/*:-moz-full-screen {

}*/

:-ms-fullscreen {

}
:fullscreen {

}
#divcake {
  /*position: static;*/
  /*margin: -36em auto -2em auto;*/
  margin-top: -20em;
  margin-bottom: 1em;
  z-index: 999;
  display: flex;
  justify-content: center;
}

#sakura {
  width:100%;
  height:170%;
  position:absolute;
  z-index:-2;
}

/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 53px;
  left: 50%;
  margin-left: -2.5px;
  /*margin-top: -8.33333333px;*/
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 5s ease-out forwards;
  animation: in 500ms 5s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 0.5s infinite;
  animation: fuego 2s 0.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 0.5s infinite;
  animation: fuego 1.5s 0.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 0.5s infinite;
  animation: fuego 1s 0.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 0.5s infinite;
  animation: fuego 0.5s 0.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 0.5s infinite;
  animation: fuego 0.2s 0.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.text {
  /*color: #8b6a60;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;

}
.text h1 {
  font-size: 1.4em;
}
/*#canvas{
  width:100%;
  height:100%;
  position:absolute;
  z-index:-2;
}*/

#wrapper {
  /*height: 400px;*/
  width: 100%;
  /*position: relative;*/
  /*overflow: hidden;*/
  /*background: url(http://www.drama-asia.se/wp-content/uploads/2016/06/14375197_1349947520504_800x600.jpg);*/

  /*color: #ffffff82;*/
  font-size: 14px;
  text-shadow: 1px 1px #000;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}
#wrapper span{
  position: absolute;
  white-space: nowrap;
}
.right {
  visibility: hidden;
  transform: translateX(100%);
}
.left {
  user-select: none;
  transition: transform 5s linear; /* 时间相同 越长的弹幕滑动距离越长 所以越快~ */
}

.zhujue button,.sendbtn {
  width: 7.5em;
  height: 3.4em;
  border-radius: 10px;
  font-size: 0.5em;
  color: blueviolet;
}

/*左侧侧滑动小人*/
.spig {display:block;width:50px;height:70px;position:absolute;bottom: 15em;left:180px;z-index:9999;}
#message{color :#191919;border: 1px solid #c4c4c4;background:#ddd;-moz-border-radius:5px;-webkit-border-radius:5px;
  border-radius:5px;min-height:1em;padding:5px;top:-45px;position:absolute;text-align:center;width:auto !important;
  z-index:1000;-moz-box-shadow:0 0 15px #eeeeee;-webkit-box-shadow:0 0 15px #eeeeee;min-width: 1em;
  box-shadow:0 0 15px #eeeeee;outline:none;font-size:0.8rem}
.mumu{width:9rem;height:14rem;cursor: move;background:url(/img/chong.gif) no-repeat;
  background-size:50% 50%}

.liaotian input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 17em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 3px;
  text-align: center;
  font-family: "Microsoft YaHei";
  /*font-size: 18px;*/
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  /*font-weight: 300;*/
}
.liaotian input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.liaotian input:focus {
  /*background-color: white;*/
  color: blue;
}