@import url(http://fonts.googleapis.com/css?family=Lato:300italic);
html,
body {
  width: 100%;
  height: 100%;
}

body {
  /*background: #ee9ca7;*/
  overflow: hidden;
  padding:0;
  margin:0;
}
body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
:-webkit-full-screen {

}

/*:-moz-full-screen {

}*/

:-ms-fullscreen {

}
:fullscreen {

}
#divcake {
  position: static;
  margin: -10em auto 0 auto;
  z-index: 999;
}

#sakura {
  width:100%;
  height:150%;
  position:absolute;
  z-index:-2;
}

/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 5s ease-out forwards;
  animation: in 500ms 5s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 0.5s infinite;
  animation: fuego 2s 0.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 0.5s infinite;
  animation: fuego 1.5s 0.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 0.5s infinite;
  animation: fuego 1s 0.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 0.5s infinite;
  animation: fuego 0.5s 0.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 0.5s infinite;
  animation: fuego 0.2s 0.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.text {
  /*color: #8b6a60;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  
}
.text h1 {
  font-size: 1.4em;
}
#canvas{
  width:100%;
  height:100%;
  position:absolute;
  z-index:-2;
}
#socketMessage{
  margin-top: 10px;
  height: 300px;
  color: black !important;
  overflow-y:auto !important;
}
#wrapper {
  /*height: 400px;*/
  width: 700px;
  /*position: relative;*/
  overflow: hidden;
  /*background: url(http://www.drama-asia.se/wp-content/uploads/2016/06/14375197_1349947520504_800x600.jpg);*/

  color: #ffffff82;
  font-size: 14px;
  text-shadow: 1px 1px #000;
  text-align: center;
  margin: auto;
}
.right {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  /*left: 700px;*/
  transform: translateX(700px);
}
.left {
  position: absolute;
  white-space: nowrap;
  user-select: none;
  transition: transform 7s linear; /* 时间相同 越长的弹幕滑动距离越长 所以越快~ */
  font-size: 14px;
}
#wrapper input {
  /*position: absolute;*/
  bottom: 10px;
  /*left: 150px;*/
  width: 300px;
  height: 26px;
}

.zhujue button,.sendbtn {
  bottom: 8px;
  width: 100px;
  height: 38px;
  border-radius: 10px;
  font-size: 16px;
}

/*右侧滑动小人*/
.spig {display:block;width:156px;height:270px;position:absolute;bottom: 300px;left:180px;z-index:9999;}
#message{color :#191919;border: 1px solid #c4c4c4;background:#ddd;-moz-border-radius:5px;-webkit-border-radius:5px;
  border-radius:5px;min-height:1em;padding:5px;top:-45px;position:absolute;text-align:center;width:auto !important;
  z-index:10000;-moz-box-shadow:0 0 15px #eeeeee;-webkit-box-shadow:0 0 15px #eeeeee;border-color:#eeeeee;
  box-shadow:0 0 15px #eeeeee;outline:none;font-size:0.8rem}
.mumu{width:9.75rem;height:15.46rem;cursor: move;
  background-size:100% 100%}