<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes">
    <title>管理员操作页面</title>

    <script th:src="@{/js/jquery-3.8.min.js}" ></script>
    <script th:src="@{/layui/layer.js}" ></script>
    <link rel="stylesheet" th:href="@{/layui/layer.css}" type="text/css" />
</head>
<body>

    <div>
        <h1>添加敏感词</h1>
        <input type="text" id="addBannad"/> <button id="bannda" onclick="addbannd()">添加</button>
        <button onclick="getbannd()">所有敏感词</button>
        <p id="addbann_msg"></p>
        <p id="banads"></p>
    </div>
    <div>
        <h1>添加随机名字</h1>
        <input type="text" id="addRundomname"/> <button id="randomname" onclick="addrandom()">添加</button>
        <button onclick="getrandom()">所有随机名字</button>
        <p id="addrand_msg"></p>
        <p id="randomNams"></p>
    </div>
</body>
<script type="text/javascript">
    function getbannd() {
        $.get("/getAllBannd",function (data) {
            if (data) {
                $("#banads").html(JSON.stringify(data));
            }
        });
    }
    function getrandom() {
        $.get("/getAllRanname",function (data) {
            if (data) {
                $("#randomNams").html(JSON.stringify(data));
            }
        });
    }
    /*添加敏感词*/
    function addbannd() {
        var word = $("#addBannad").val().trim();
        if (word.length > 0) {
            $.post("/redis/add",{words:word},function (data) {
                if (data) {
                    $("#addbann_msg").html(JSON.stringify(data));
                    $("#addBannad").val("");
                    /*加载列表*/
                    getbannd();
                }
            });
        }
    }
    $("#addBannad").keydown(function (event) {
        var code = event.keyCode;
        if (code == 13) {
            $('#bannda').click();
        }
    })
    function addrandom() {
        var name = $("#addRundomname").val().trim();
        if (name.length > 0) {
            $.post("/setRandName",{username:name},function (data) {
                if (data) {
                    $("#addrand_msg").html(JSON.stringify(data));
                    $("#addRundomname").val("");
                    getrandom();
                }
            });
        }
    }
    $("#addRundomname").keydown(function (event) {
        var code = event.keyCode;
        if (code == 13) {
            $('#randomname').click();
        }
    })
</script>
</html>